@model GameTech.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<head>
<h2 style="color:white; font-size:40px; margin-left:450px">Game&Tech</h2>
@*<link rel="stylesheet" type="text/css" href="estilo.css" />*@
</head>

<body>
    <div>
        <p>
            @ViewBag.Mensagem @User.Identity.Name
            @Html.HiddenFor(model => model.UsuarioId)
        </p>
        @Html.ActionLink("Logar", "Login", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Cadastrar-se", "Create", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Editar Cadastro", "Editar", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Jogos", "Compra", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Carrinho", "Carrinho", null, new { @class = "btn btn-dark" })
        <a href="@Url.Action("LogOut","Home")"><input type="submit" value="Sair" class="btn btn-dark"></a>
    </div>
    
</body>

<table>
    <tr>
        <td>

        </td>

        <td>

        </td>
    </tr>
</table>