@model GameTech.Models.Usuario
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @ViewBag.Mensagem @User.Identity.Name
    @Html.HiddenFor(model => model.UsuarioId)
</p>

@Html.ActionLink("Logar","Login", null,  new { @class = "btn btn-success"})
@Html.ActionLink("Cadastrar-se","Create")
@Html.ActionLink("Editar Cadastro","Editar")

<a href="@Url.Action("LogOut","Home")">Sair</a>