@model GameTech.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<style>
    .men {
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: white;
        background-color: black;
        border-style: solid;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        width: 100%;
        height: 50px;
        background-color: black;
        font-family: 'Arial';
    }

        .menu ul {
            list-style: none;
            position: relative;
        }

            .menu ul li {
                width: 150px;
                float: left;
            }

        .menu a {
            padding: 15px;
            display: block;
            text-decoration: none;
            text-align: center;
            background-color: black;
            color: white;
        }

        .menu ul ul {
            position: absolute;
            visibility: hidden;
        }

        .menu ul li:hover ul {
            visibility: visible;
        }

        .menu a:hover {
            background-color: #f4f4f4;
            color: #555;
        }

        .menu ul ul li {
            float: none;
            border-bottom: solid 1px #ccc;
        }
</style>
<head>
<div class="men">
    Game&Tech
</div>
@*<link rel="stylesheet" type="text/css" href="estilo.css" />*@
</head>

<body>

    <nav class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Jogos</a>
                <ul>
                    <li><a href="~/Home/Venda">Comprar</a></li>
                    <li><a href="~/Home/Troca">Troca</a></li>
                    <li><a href="~/Home/Aluguel">Alugar</a></li>
                </ul>
            </li>
        </ul>
    </nav>








    @*<div>*@
        @*<p>
            @ViewBag.Mensagem @User.Identity.Name
            @Html.HiddenFor(model => model.UsuarioId)
        </p>*@
        @*@Html.ActionLink("Logar", "Login", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Perfil", "Perfil", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Cadastrar-se", "Create", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Editar Cadastro", "Editar", null, new { @class = "btn btn-dark" })
        @Html.ActionLink("Carrinho", "Carrinho", null, new { @class = "btn btn-dark" })
        <input type="text"/>
        @Html.ActionLink("Pesquisa","Pesquisa", null, new { @class="btn btn-dark"})*@
        

        <a href="@Url.Action("LogOut","Home")"><input type="submit" value="Sair" class="btn btn-dark"></a>
    @*</div>*@
    
    <div class="men">
        Ofertas em Destaque
        @*<table style="background-color:black; color:white; border-style:solid">
            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>*@
    </div>
</body>

