

@model GameTech.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@*@Html.ValidationSummary(true)*@

@*@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Logar</button>
    </p>
}*@

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(u => u.NomeUsu, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(u => u.NomeUsu, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.NomeUsu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(u => u.Senha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(u => u.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Efetuar login" class="btn btn-default" />
                        @Html.ActionLink("Cancelar", "Index", new { @class = "btn btn-sucess" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>

