<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    
    <style>
        .footer {
            background-color: black;
            color: white;
            text-align: center;
            position: fixed;
            border-style: solid;
            width: 40%;
            height: 30px;
            bottom: 0;
            margin-left: 15%
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game&Tech </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-image: url('../../Imagem/Personagens 1600x1200.jpg');">
    
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/js")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/inputmask")
        @RenderBody()
        
        <div class="footer">
            <p>&copy; @DateTime.Now.Year - Game&Tech - Todos os direitos reservados.</p>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/inputmask/inputmask.js"></script>
    
</body>
</html>