@model GameTech.Models.Proposta

@{
    ViewBag.Title = "Fazer Proposta";
}

<h2>Fazer Proposta</h2>

@*@Model.PropostaID
    @Model.UsuAtualID
    @Model.UsuarioAtual
    @Model.ProdTAtualID
    @Model.Prod_Troca
    @Model.Prod_Para_Trocar*@